@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@font-face {
	font-family: "GalleryMeFont";
	src: url("https://fonts.googleapis.com/css2?family=Sono&display=swap");
	font-display: swap;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "GalleryMeFont", sans-serif;
	background-color: #142129;
	color: #fff;
}

@layer components {
	.cta {
		@apply px-4 py-2 font-semibold transition-all duration-200 ease-in-out rounded-lg shadow-md bg-blue text-zinc-800 hover:scale-110;
	}
	.icon-cta {
		@apply transition-all duration-200 ease-in-out rounded-lg shadow-md fill-blue hover:cursor-pointer hover:scale-125;
	}
}

/* npx pwa-asset-generator ./public/icons/library.png ./public/icons -b "#142129" */
