@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@font-face {
	font-family: "GalleryMeFont";
	src: url("https://fonts.googleapis.com/css2?family=Sono&display=swap");
	font-display: swap;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "GalleryMeFont", sans-serif;
	background-color: var(--body-color);
	color: var(--text-color);
}

@layer components {
	.cta {
		@apply bg-blue text-zinc-800 font-semibold py-2 px-4 rounded-lg shadow-md hover:scale-110 transition-all duration-200 ease-in-out;
	}
	.icon-cta {
		@apply fill-blue hover:cursor-pointer rounded-lg shadow-md hover:scale-125 transition-all duration-200 ease-in-out;
	}
}

/* npx pwa-asset-generator ./public/icons/library.png ./public/icons -b "#6cab0d" */
